<ion-header>
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list>
  <!-- EL NGFOR ES PARA HACER TODO ESTO EN CADA PRODUCTO -->
  <ion-item *ngFor="let product of products"> 
    <ion-label>
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <p><strong>Precio:</strong>${{product.price}}</p>
    </ion-label>
    <ion-button fill="clear" (click)="editProduct(product)">Editar</ion-button>
    <ion-button color="danger" fill="clear" (click)="deleteProduct(product._id)">Eliminar</ion-button>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button (click)="openAddProductModal()">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab>
</ion-content>